*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(123, 114, 253);
    min-height: 100vh;
  animation: clr 7s  linear infinite;
}
@keyframes clr {
    to{
        filter: hue-rotate(360deg);
    }
}
.loader{
     height: 150px ;
     width: 150px ;
     /* background-color: burlywood; */
     background: linear-gradient(to top,  rgb(123, 114, 253) 40%, #51eeee);
     /* background-color: linear-gradient(to top, #001d30 40% #51eeee); */
     border-radius: 50%;
     position: absolute;
     animation: rotate 2.5s linear infinite;
 }
 @keyframes rotate {
     to{
         transform: rotate(360deg);
     }
 }
 .loader::before{
     content: '';
   
     background: rgb(123, 114, 253);
     inset: 20px 20px 0 0;
     border-radius: 50%;
     position: absolute;
 }
 .loader::after{
     content: '';
     position: absolute;
     background: #51eeee;
     border-radius: 50%;
     height: 40px;
     width: 40px;
     top: 50px;
     right: -8px;
     box-shadow: 0 0 5px #51eeee, 0 0 25px #51eeee,
     0 0 50px #51eeee,  0 0 75px #51eeee;
     
 }